<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>UserListView</title>
</head>

<body>
<h1>User list</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
        <th>Age</th>
        <th>Operations</th>
    </tr>

    <tr th:each="user : ${allUsers}">
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getSurname()}">Surname</td>
        <td th:utext="${user.getCity()}">City</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td>
            <div> <a th:href="@{/{id}/update(id=${user.getId()})}">Update</a> </div>
            <div> <a th:href="@{/{id}/delete(id=${user.getId()})}">Delete</a> </div>
        </td>
    </tr>
</table>
<br/>
<hr/>
<a href="/create">Add new user</a>
</body>
</html>